/* welcome.php CSS */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

  .header img {
    float: left;
    width: 500px;
    height: 80px;
    background: rgb#555;
    margin: 20px;
  }

  .header h1 {
    font-size: 17px;
    float: left;
    margin: 20px;
    padding: 0% 30%;
    background: rgb(219, 215, 215);
  }

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.333%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /*tab content style*/
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: rgb(80, 72, 72);}
  #Coins {background-color: rgb(80, 72, 72);}
  #Favorites {background-color: rgb(80, 72, 72);}

  div.login{
    font-size: 15px;
    float: left;
    margin: 20px;
    padding: 0% 30%;
    background: rgb(219, 215, 215);
    width: 50%;
  }
  

  a.l1 {
    background-color: rgb(255, 0, 64);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    padding: 5px 5px;
    margin: 10px;
    
  }
  a.l2 {
    background-color: rgb(255, 0, 64);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    padding: 5px 5px;
    margin: 10px;
    
  }
  
 /*all tables*/
  th, td {

    font-size: 30px;
 
 }
 .t1{
  width: 50%; 
  float: left;

}
.t2{
  
  width: 50%; 
  float: right;

}
 
  /* table 1 */
  thead.table1 > tr > th {
    
    background-color: rgb(226, 14, 14);
  }
  
  table.table1 {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 20px;
      padding: 0;
     
      table-layout: fixed;
    }
    table.table1 thead tr {
      color:rgbrgb(226, 14, 14);
    }
  
    table.table1 tr {
      background: rgb(226, 14, 14);
      border: 1px solid #ddd;
    }
  
  table.table1 th,
  table.table1 td {
    text-align: left;
    border: solid rgb(226, 14, 14) 1px;
    padding: 4px 8px;
  }
/* table 2 */
   thead.table2 > tr > th {
    
    background-color: rgb(12, 143, 34);
  }
  
  table.table2 {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 20px;
      padding: 0;
     
      table-layout: fixed;
    }
    table.table2 thead tr {
      color:rgb(12, 143, 34);
    }
  
    table.table2 tr {
      background: rgb(12, 143, 34);
      border: 1px solid #ddd;
    }
  
  table.table2 th,
  table.table2 td {
    text-align: right;
    border: solid rgb(12, 143, 34) 1px;
    padding: 4px 8px;
  }

  /* table 4 */
  table.table4 {
      border: 1px solid rgba(204, 204, 204, 0);
      border-collapse: separate;
      margin-top: 100px;
      padding: 20px;
      width: 33%;
      table-layout: auto;
      float: center;
      margin: 20px;
    }
    table.table4 thead tr {
      color:rgb(0, 0, 0);
    }
  
    table.table4 tr {
      background: rgb(0, 0, 0);
      border: 1px solid rgba(221, 221, 221, 0);
    }
  
  table.table4 th,
  table.table4 td {
    text-align: left;
    border: solid rgb(0, 0, 0) 1px;
    padding: 4px 8px;
  }

  footer {
    font-size: 17px;
    float: left;
  }

